APP_NAME='fastapi-modular-template'
FRONTEND_URL='http://localhost:3000'

SECRET_KEY='your_32_char_strong_secret_key_here'
DEBUG=True

# Database configuration
DATABASE_NAME="db_name"
DATABASE_USER="postgres"
DATABASE_PASSWORD="password"
DATABASE_HOST="localhost"
DATABASE_PORT="5432"

# Redis / Celery
REDIS_URL="redis://localhost:6379/0"
CELERY_BROKER_URL="redis://localhost:6379/1"
CELERY_RESULT_BACKEND="redis://localhost:6379/2"

# Auth / JWT
ALGORITHM='HS256'
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=15

# Email
EMAIL_PROVIDER='console'
SMTP_HOST='localhost'
SMTP_PORT=587
SMTP_USER=''
SMTP_PASSWORD=''
SMTP_FROM='no-reply@example.com'
SMTP_TLS=True
